In [1]:
import os
import pandas as pd

zsRE_folder_path = "./data/zsRE"
data_type = 'train'

all_data = []
folder_path = zsRE_folder_path
for filename in os.listdir(folder_path):
    if filename.startswith(data_type):
        print(f'file name is {filename}')
        file_path = os.path.join(folder_path, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            lines = file.readlines()
            for line in lines:
                parts = line.strip().split('\t')
                all_data.append(parts)
                

print('finish')
# 모든 데이터를 DataFrame으로 변환

file name is train.0
file name is train.1
file name is train.2
file name is train.3
file name is train.4
file name is train.5
file name is train.6
file name is train.7
file name is train.8
file name is train.9
finish

In [2]:
def group_lists(data):
    result = []
    for sublist in data:
        if len(sublist) > 4:
            sublist = sublist[:4] + [sublist[4:]]
        else:
            sublist.append(None)
        result.append(sublist)
    return result

final_data = group_lists(all_data)

In [3]:
def data_title(data, num):
    for i in data:
        if len(i) == num:
            return i

In [4]:
data_title(all_data, 4)

In [5]:
def data_title(data, num):
    a = 0
    for i in data:
        if len(i) == num:
            print(i)
            a += 1
        if a == 3:
            break
data_title(all_data, 4)

In [6]:
data_title(all_data, 5)

['place of birth', "What was XXX's city of birth?", 'Isaac Nicola', 'Isaac Nicola Romero (1916 in Havana, Cuba -- 1997) was a prominent Cuban guitarist and one of the founders of the modern Cuban Guitar School.', 'Havana']
['noble title', 'What was the title that XXX held?', 'Timur', 'Both Timur and Demir are popular male names in Turkey today.', None]
['child', 'Who is the offspring of XXX?', 'Miltiades', 'In c.555 BCE Miltiades the Elder left Athens to establish a colony on the Thracian Chersonese (now the Gallipoli Peninsula), setting himself up as a semi-autonomous tyrant under the protection of Athens.', None]

In [7]:
data_title(all_data, 6)

['editor', 'What is the name of the editors of XXX?', 'The Best American Poetry 1996', 'The Best American Poetry 1996, a volume in The Best American Poetry series, was edited by David Lehman and by guest editor Adrienne Rich.', 'David Lehman', 'Adrienne Rich']
['airline hub', 'At what airport can you find XXX?', 'UTair Aviation', "UTair Aviation (Russian: ОАО ``Авиакомпания ``ЮТэйр'') (MCX: UTAR) is a Russian airline with its head office at Khanty-Mansiysk Airport while its main base is at Roshchino International Airport near Tyumen. It operates scheduled domestic and some international passenger services, scheduled helicopter services as well as extensive charter flights with fixed-wing aircraft and helicopters in support of the oil and gas industry across Western Siberia.", 'Khanty-Mansiysk Airport', 'Roshchino International Airport']
['editor', 'What is the name of the editors of XXX?', 'The Best American Poetry 2007', 'The Best American Poetry 2007, a volume in The Best American Poetry series, was edited by poet Heather McHugh, guest editor, who made the final selections, and David Lehman, the general editor for the series.', 'Heather McHugh', 'David Lehman']

In [8]:
data_title(all_data, 7)

['operating system', 'What is the operating system used with XXX?', 'Nmap', 'Nmap was originally a Linux-only utility, but it was ported to Windows, Solaris, HP-UX, BSD variants (including OS X), AmigaOS, and IRIX.', 'Linux', 'Solaris', 'OS X']
['cast member', 'Who acted in XXX?', 'Billy Two Hats', "It stars Gregory Peck, Jack Warden and Desi Arnaz, Jr. Filmed on-location in Israel, Billy Two Hats is from a script by Scottish writer Alan Sharp, the screenwriter of Rob Roy and Ulzana's Raid.", 'Gregory Peck', 'Jack Warden', 'Desi Arnaz']
['cast member', 'Who are the cast members of XXX?', 'The Strange Woman', 'The Strange Woman is a 1946 American dramatic thriller film directed by Edgar G. Ulmer and starring Hedy Lamarr, George Sanders, and Louis Hayward.', 'Hedy Lamarr', 'George Sanders', 'Louis Hayward']

In [9]:
df = pd.DataFrame(final_data, columns=['Relation', 'Question', 'Entity', 'Sentences', 'Answer'])

In [10]:
df.head()

,Relation,Question,Entity,Sentences,Answer
0,place of birth,What was XXX's city of birth?,Isaac Nicola,"Isaac Nicola Romero (1916 in Havana, Cuba -- 1...",[Havana]
1,noble title,What was the title that XXX held?,Timur,Both Timur and Demir are popular male names in...,None
2,child,Who is the offspring of XXX?,Miltiades,In c.555 BCE Miltiades the Elder left Athens t...,None
3,developer,Who is originally behind the development of XXX?,Beach Volley,A stranger interrupts a beach volleyball game ...,None
4,military rank,What along with privateer was XXX's military r...,"John R. Allen, Jr.","John R. Allen, Jr. was born in Louisville, Ken...",None

In [11]:
df['Question'] = df.apply(lambda row: row['Question'].replace('XXX', row['Entity']), axis=1)
df.drop('Entity', axis=1, inplace=True)

In [12]:
df.head()

,Relation,Question,Sentences,Answer
0,place of birth,What was Isaac Nicola's city of birth?,"Isaac Nicola Romero (1916 in Havana, Cuba -- 1...",[Havana]
1,noble title,What was the title that Timur held?,Both Timur and Demir are popular male names in...,None
2,child,Who is the offspring of Miltiades?,In c.555 BCE Miltiades the Elder left Athens t...,None
3,developer,Who is originally behind the development of Be...,A stranger interrupts a beach volleyball game ...,None
4,military rank,"What along with privateer was John R. Allen, J...","John R. Allen, Jr. was born in Louisville, Ken...",None

In [13]:
def check(all_data):
    num = []
    relation = []
    for i in all_data:
        num.append(len(i)-3)
        relation.append(i[0])
    return num, relation
num, relation = check(all_data)

In [14]:
from collections import Counter
counter = Counter(list(df['Relation']))

counter

Counter({'place of birth': 70000,
         'noble title': 70000,
         'child': 70000,
         'developer': 70000,
         'military rank': 80000,
         'location of formation': 60000,
         'present in work': 70000,
         'nominated for': 70000,
         'illustrator': 60000,
         'operating system': 80000,
         'mouth of the watercourse': 70000,
         'taxon rank': 70000,
         'named after': 70000,
         'languages spoken or written': 70000,
         'dissolved or abolished': 60000,
         'noble family': 70000,
         'end time': 60000,
         'position played on team / speciality': 60000,
         'member of sports team': 60000,
         'characters': 80000,
         'time of discovery': 70000,
         'designer': 80000,
         'film editor': 80000,
         'manufacturer': 70000,
         'located on astronomical body': 70000,
         'country of origin': 70000,
         'stock exchange': 70000,
         'continent': 80000,
         'publisher': 70000,
         'programming language': 60000,
         'father': 70000,
         'canonization status': 80000,
         'founder': 70000,
         'start time': 60000,
         'instrument': 80000,
         'airline hub': 70000,
         'lyrics by': 80000,
         'language of work or name': 80000,
         'located in the administrative territorial entity': 80000,
         'participant of': 80000,
         'sport': 60000,
         'found in taxon': 60000,
         'position held': 70000,
         'editor': 80000,
         'parent taxon': 80000,
         'country of citizenship': 70000,
         'crosses': 80000,
         'place of death': 60000,
         'chromosome': 70000,
         'distributor': 70000,
         'licensed to broadcast to': 80000,
         'license': 80000,
         'instrumentation': 70000,
         'record label': 70000,
         'brother': 60000,
         'located next to body of water': 60000,
         'voice type': 80000,
         'screenwriter': 60000,
         'conferred by': 80000,
         'member of political party': 60000,
         'publication date': 70000,
         'religious order': 60000,
         'site of astronomical discovery': 80000,
         'sister': 70000,
         'performer': 60000,
         'headquarters location': 70000,
         'architectural style': 60000,
         'discoverer or inventor': 60000,
         'from fictional universe': 60000,
         'native language': 70000,
         'inception': 60000,
         'league': 80000,
         'architect': 70000,
         'mother': 60000,
         'author': 70000,
         'cast member': 80000,
         'place of burial': 70000,
         'connecting line': 80000,
         'date of birth': 70000,
         'creator': 80000,
         'chairperson': 70000,
         'vessel class': 80000,
         'time of spacecraft launch': 60000,
         'country': 70000,
         'spouse': 70000,
         'point in time': 70000,
         'based on': 70000,
         'series': 70000,
         'convicted of': 70000,
         'conflict': 70000,
         'occupation': 80000,
         'military branch': 70000,
         'collection': 60000,
         'educated at': 60000,
         'parent company': 80000,
         'date of death': 80000,
         'award received': 80000,
         'sex or gender': 70000,
         'production company': 70000,
         'standards body': 80000,
         'medical condition': 80000,
         'constellation': 70000,
         'drafted by': 70000,
         'service entry': 70000,
         'original network': 80000,
         'narrative location': 70000,
         'residence': 80000,
         'director': 70000,
         'cause of death': 60000,
         'home venue': 60000,
         'IUCN conservation status': 60000,
         'material used': 60000,
         'employer': 60000,
         'manner of death': 60000,
         'replaced by': 60000,
         'product': 60000,
         'industry': 70000,
         'occupant': 70000,
         'date of official opening': 70000,
         'head of government': 70000})

In [15]:
from collections import Counter
counter = Counter(num)
print('')
for key in counter.keys():
    print('{:<2} : {}'.format(key, counter[key]))
print(f'total rows : {sum(counter.values())}')

2  : 8294957
3  : 80483
5  : 5100
4  : 16184
6  : 1959
7  : 637
9  : 230
13 : 32
10 : 115
8  : 222
12 : 38
14 : 8
11 : 21
21 : 14
total rows : 8400000