In [ ]:
%cd

# 1. Plotting

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df_sbj = pd.read_excel('./Knowledge_Editing_Dataset/data/one_hop/one_hop_sbj.xlsx')

# NaN 값을 빈 문자열로 대체하고 모든 값을 문자열로 변환
df_sbj['one_hop'] = df_sbj['one_hop'].fillna('').astype(str)

# 각 one_hop에 대해 단어 개수를 계산
df_sbj['word_count'] = df_sbj['one_hop'].apply(lambda x: 0 if x == '' else len(x.split(',')))

# 히스토그램 생성
plt.figure(figsize=(10, 6))
counts, bins, patches = plt.hist(df_sbj['word_count'], bins=range(0, df_sbj['word_count'].max() + 2), alpha=0.7, edgecolor='black')

# 각 막대 위에 빈도수 레이블 추가
for count, x in zip(counts, bins[:-1]):
    if count > 0:
        plt.text(x + 0.4, count, str(int(count)), ha='center', va='bottom', fontsize=8)

# 그래프 레이블 설정
plt.title('Subject count')
plt.xlabel('Value')
plt.ylabel('Frequency')

# 그래프 출력
plt.show()

# 특정 기준 값들에 대해 개수와 비율을 계산하는 함수 정의
def count_and_ratio(df, column, thresholds):
    total_count = len(df)
    results = []
    for threshold in thresholds:
        count = df[column][df[column] < threshold].count()
        ratio = (count / total_count) * 100
        results.append(f"Count smaller than {threshold}: {count}({ratio:.2f}%)")
    return results

# 기준 값 리스트
thresholds = [1, 3, 5, 10]

# 결과 출력
results = count_and_ratio(df_sbj, 'word_count', thresholds)
for result in results:
    print(result)

In [ ]:

df_obj_true = pd.read_excel('./Knowledge_Editing_Dataset/data/one_hop/one_hop_obj_true.xlsx')

# NaN 값을 빈 문자열로 대체하고 모든 값을 문자열로 변환
df_obj_true['obj_one_hop'] = df_obj_true['obj_one_hop'].fillna('').astype(str)

# 각 one_hop에 대해 단어 개수를 계산
df_obj_true['word_count'] = df_obj_true['obj_one_hop'].apply(lambda x: 0 if x == '' else len(x.split(',')))

# 히스토그램 생성
plt.figure(figsize=(10, 6))
counts, bins, patches = plt.hist(df_obj_true['word_count'], bins=range(0, df_obj_true['word_count'].max() + 2), alpha=0.7, edgecolor='black')

# 각 막대 위에 빈도수 레이블 추가
for count, x in zip(counts, bins[:-1]):
    if count > 0:
        plt.text(x + 0.4, count, str(int(count)), ha='center', va='bottom', fontsize=8)

# 그래프 레이블 설정
plt.title('Object True count')
plt.xlabel('Value')
plt.ylabel('Frequency')

# 그래프 출력
plt.show()

# 특정 기준 값들에 대해 개수와 비율을 계산하는 함수 정의
def count_and_ratio(df, column, thresholds):
    total_count = len(df)
    results = []
    for threshold in thresholds:
        count = df[column][df[column] < threshold].count()
        ratio = (count / total_count) * 100
        results.append(f"Count smaller than {threshold}: {count}({ratio:.2f}%)")
    return results

# 기준 값 리스트
thresholds = [1, 3, 5, 10]

# 결과 출력
results = count_and_ratio(df_obj_true, 'word_count', thresholds)
for result in results:
    print(result)

In [ ]:

df_obj_new = pd.read_excel('./Knowledge_Editing_Dataset/data/one_hop/one_hop_obj_new.xlsx')

# NaN 값을 빈 문자열로 대체하고 모든 값을 문자열로 변환
df_obj_new['obj_new_one_hop'] = df_obj_new['obj_new_one_hop'].fillna('').astype(str)

# 각 one_hop에 대해 단어 개수를 계산
df_obj_new['word_count'] = df_obj_new['obj_new_one_hop'].apply(lambda x: 0 if x == '' else len(x.split(',')))

# 히스토그램 생성
plt.figure(figsize=(10, 6))
counts, bins, patches = plt.hist(df_obj_new['word_count'], bins=range(0, df_obj_new['word_count'].max() + 2), alpha=0.7, edgecolor='black')

# 각 막대 위에 빈도수 레이블 추가
for count, x in zip(counts, bins[:-1]):
    if count > 0:
        plt.text(x + 0.4, count, str(int(count)), ha='center', va='bottom', fontsize=8)

# 그래프 레이블 설정
plt.title('Object New count')
plt.xlabel('Value')
plt.ylabel('Frequency')

# 그래프 출력
plt.show()

# 특정 기준 값들에 대해 개수와 비율을 계산하는 함수 정의
def count_and_ratio(df, column, thresholds):
    total_count = len(df)
    results = []
    for threshold in thresholds:
        count = df[column][df[column] < threshold].count()
        ratio = (count / total_count) * 100
        results.append(f"Count smaller than {threshold}: {count}({ratio:.2f}%)")
    return results

# 기준 값 리스트
thresholds = [1, 3, 5, 10]

# 결과 출력
results = count_and_ratio(df_obj_new, 'word_count', thresholds)
for result in results:
    print(result)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# NaN 값을 빈 문자열로 대체하고 모든 값을 문자열로 변환
df_sbj['one_hop'] = df_sbj['one_hop'].fillna('').astype(str)
df_obj_true['obj_one_hop'] = df_obj_true['obj_one_hop'].fillna('').astype(str)
df_obj_new['obj_new_one_hop'] = df_obj_new['obj_new_one_hop'].fillna('').astype(str)

# 각 one_hop에 대해 단어 개수를 계산x
df_sbj['word_count'] = df_sbj['one_hop'].apply(lambda x: 0 if x == '' else len(x.split(',')))
df_obj_true['word_count'] = df_obj_true['obj_one_hop'].apply(lambda x: 0 if x == '' else len(x.split(',')))
df_obj_new['word_count'] = df_obj_new['obj_new_one_hop'].apply(lambda x: 0 if x == '' else len(x.split(',')))

# 단어 개수를 하나의 배열로 결합
combined_counts = df_sbj['word_count'] + df_obj_true['word_count'] + df_obj_new['word_count']

# 히스토그램 생성
plt.figure(figsize=(10, 6))
plt.hist(combined_counts, bins=range(0, combined_counts.max() + 2), alpha=0.5, edgecolor='black')

# 각 막대 위에 빈도수 레이블 추가
counts, bins = np.histogram(combined_counts, bins=range(0, combined_counts.max() + 2))
for count, x in zip(counts, bins[:-1]):
    if count > 0:
        plt.text(x + 0.4, count, str(int(count)), ha='center', va='bottom', fontsize=8)

# 그래프에 레이블 추가
plt.title('Total Count')
plt.xlabel('Value')
plt.ylabel('Frequency')

# 그래프 출력
plt.show()

# 특정 기준 값들에 대해 개수와 비율을 계산하는 함수 정의
def count_and_ratio(series, thresholds):
    total_count = len(series)
    results = []
    for threshold in thresholds:
        count = (series < threshold).sum()  # < threshold에 해당하는 개수 계산
        ratio = (count / total_count) * 100
        results.append(f"Count smaller than {threshold}: {count} ({ratio:.2f}%)")
    return results

# 기준 값 리스트
thresholds = [1, 3, 5, 10]

# 결과 출력
results = count_and_ratio(combined_counts, thresholds)

# 결과 출력
for result in results:
    print(result)

# 2. Uniqueness

In [1]:
%cd

/home/gyubin

/home/gyubin/anaconda3/envs/EasyEdit/lib/python3.9/site-packages/IPython/core/magics/osm.py:393: UserWarning: using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})
/home/gyubin/anaconda3/envs/EasyEdit/lib/python3.9/site-packages/IPython/core/magics/osm.py:428: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd


df_sbj = pd.read_excel('./Knowledge_Editing_Dataset/data/one_hop/one_hop_sbj.xlsx')
df_obj_true = pd.read_excel('./Knowledge_Editing_Dataset/data/one_hop/one_hop_obj_true.xlsx')
df_obj_new = pd.read_excel('./Knowledge_Editing_Dataset/data/one_hop/one_hop_obj_new.xlsx')

In [3]:
%cd Knowledge_Editing_Dataset/data/one_hop

/home/gyubin/Knowledge_Editing_Dataset/data/one_hop

/home/gyubin/anaconda3/envs/EasyEdit/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [4]:
df_sbj.head(10)

,Unnamed: 0,index,subject,subject_id,one_hop
0,0,0,Danielle Darrieux,Q234149,"singer,actor,Bois-le-Roi,film,film actor,Franc..."
1,1,1,Edwin of Northumbria,Q348955,"Kingdom of Bernicia,English,King of Northumbri..."
2,2,2,Toko Yasuda,Q7813654,"rock music,Blonde Redhead,musician,bass guitar..."
3,3,3,Autonomous University of Madrid,Q788091,"Coalition for Advancing Research Assessment,Co..."
4,4,4,Lyon,Q6709677,"United States of America,Oakland County"
5,5,5,Thomas Joannes Stieltjes,Q510916,"Kingdom of the Netherlands,Toulouse,mathematic..."
6,6,6,Anaal Nathrakh,Q483140,"black metal,Earache Records,Season of Mist,Bac..."
7,7,7,Apple A5,Q420764,"Apple,Samsung Electronics"
8,8,8,Wellington,Q23661,"New Zealand,Oceania,Arthur Wellesley, 1st Duke..."
9,9,9,Shree Pundalik,Q7503512,"silent film,British Raj"

In [5]:
from collections import Counter
frequency_sbj = []
for i in range(len(df_sbj)):
    try:
        for word in (df_sbj.loc[i, 'one_hop'].split(',')):
            frequency_sbj.append(word)
    except:
        pass
counter_sbj = Counter(frequency_sbj)
with open("subject_one_hop_frequency.txt", 'w') as f:
    for key, value in counter_sbj.most_common():
        f.write(f'{key}: {value}\n')

In [6]:
df_obj_true.head(10)

,index,obj,obj_id,obj_one_hop
0,0,French,Q150,"Bailiwick of Guernsey,Belgium,Vanuatu,Laos,Mal..."
1,1,Christianity,Q5043,"Jerusalem,Christ,Jesus,Nazareth,worldwide"
2,2,guitar,Q6607,NaN
3,3,Spain,Q29,"Universal Postal Union,Organization for Securi..."
4,4,Beirut,Q3820,"Emirate of Dubai,Mexico City,Île-de-France,Tri..."
5,5,Dutch,Q7411,"Kingdom of the Netherlands,Low Countries,Belgi..."
6,6,Birmingham,Q2256,"Chicago,English,Xi'an,Guangzhou,Johannesburg,L..."
7,7,Apple,Q312,"apple,Los Altos,United States of America,The V..."
8,8,Sydney,Q3130,"Thomas Townshend, 1st Viscount Sydney,Australi..."
9,9,India,Q668,"Universal Postal Union,Shanghai Cooperation Or..."

In [7]:
from collections import Counter
frequency_obj = []
for i in range(len(df_obj_true)):
    try:
        for word in (df_obj_true.loc[i, 'obj_one_hop'].split(',')):
            frequency_obj.append(word)
    except:
        pass
counter_obj = Counter(frequency_obj)
with open("object_true_one_hop_frequency.txt", 'w') as f:
    for key, value in counter_obj.most_common():
        f.write(f'{key}: {value}\n')

In [8]:
df_obj_new.head(10)

,index,obj,obj_id,obj_new_one_hop
0,0,English,Q1860,"Bailiwick of Guernsey,British Virgin Islands,T..."
1,1,Islam,Q432,"Masjid al-Haram,Muslim world,Arabic,Qibla,devo..."
2,2,piano,Q5994,NaN
3,3,Sweden,Q34,"Universal Postal Union,Organization for Securi..."
4,4,Manila,Q1461,"Honolulu County,Maui County,Mexico City,Guangz..."
5,5,English,Q1860,"Bailiwick of Guernsey,British Virgin Islands,T..."
6,6,Philadelphia,Q1345,"Philadelphia County,Nizhny Novgorod,Salvador,F..."
7,7,Google,Q95,"Society for Geoinformatics, GeoIT and Navigati..."
8,8,Sheffield,Q42448,"Kitwe,English,Macerata,Donetsk,Sheffield,Pitts..."
9,9,Sweden,Q34,"Universal Postal Union,Organization for Securi..."

In [9]:
from collections import Counter
frequency_obj_new = []
for i in range(len(df_obj_new)):
    try:
        for word in (df_obj_new.loc[i, 'obj_new_one_hop'].split(',')):
            frequency_obj_new.append(word)
    except:
        pass
counter_obj_new = Counter(frequency_obj_new)
with open("object_new_one_hop_frequency.txt", 'w') as f:
    for key, value in counter_obj_new.most_common():
        f.write(f'{key}: {value}\n')

In [ ]:
# from tqdm import tqdm
# def sort_one_hop(df,column,counter, idx, rank = 3):
#     new_dict = dict()
#     for word in (df.loc[idx, column].split(',')):
#         new_dict[word] = counter[word]
#         new_dict = dict(sorted(new_dict.items(), key = lambda item:item[1]))
#         new_list = list(new_dict.keys())
#     return len(new_list)
# rank = 10
# number=0
# a=0
# b=0
# c=0
# for i in tqdm(range(len(df_sbj))):
#     idx = i
#     rank = -1
#     try:
#         # print(1)
#         a+=sort_one_hop(df_sbj, 'one_hop', counter_sbj, idx, rank)
#     except:
#         pass
#     try:
#         b+= sort_one_hop(df_obj_true, 'obj_one_hop', counter_sbj, idx, rank)
#     except:
#         pass
#     try:
#         c+=sort_one_hop(df_obj_new, 'obj_new_one_hop', counter_sbj, idx, rank)            
#     except:
#         pass
# print(a, b, c)
# print(a+b+c)

In [11]:
def sort_one_hop(df,column,counter, idx, rank = 3):
    new_dict = dict()
    for word in (df.loc[idx, column].split(',')):
        new_dict[word] = counter[word]
        new_dict = dict(sorted(new_dict.items(), key = lambda item:item[1]))
        new_list = list(new_dict.keys())
    return new_list[:rank]
rank = 20
sort_one_hop(df_obj_true, 'obj_one_hop', counter_obj, 3, rank)

['Hispania',
 'member states of the Organization of Ibero-American States',
 'Organization of Ibero-American States',
 'Central American Bank for Economic Integration',
 'United Nations Security Council',
 'Spanish',
 'Spain',
 'Madrid',
 'Organisation for Joint Armament Cooperation',
 'European Air Transport Command',
 'League of Nations',
 'European Southern Observatory',
 'European Union',
 'European Space Agency',
 'Schengen Area',
 'Movement Coordination Centre Europe',
 'Council of Europe',
 'Eurocontrol',
 'NATO',
 'Treaty on Open Skies']

In [10]:
def sort_one_hop(df,column,counter, idx, rank = 3):
    new_dict = dict()
    for word in (df.loc[idx, column].split(',')):
        new_dict[word] = counter[word]
        new_dict = dict(sorted(new_dict.items(), key = lambda item:item[1]))
        new_list = list(new_dict.keys())
    return new_list[:rank]

full10_list = []
for i in range(len(df_sbj)):
    idx = i
    rank = 10
    try:
        z= sort_one_hop(df_sbj, 'one_hop', counter_sbj, idx, rank)
        x= sort_one_hop(df_obj_true, 'obj_one_hop', counter_obj, idx, rank)
        c =sort_one_hop(df_obj_new, 'obj_new_one_hop', counter_obj_new, idx, rank)
        if len(z)+len(x)+len(c) == rank*3:
            full10_list.append([idx, z, x, c])

            
    except:
        pass
    
    try:
        x= sort_one_hop(df_obj_true, 'obj_one_hop', counter_sbj, idx, rank)
print(len(full10_list))
print(len(df_sbj))

2101
21919

In [21]:
print(full10_list[0][1])
sbj_train = [full10_list[0][1][i] for i in [0,2,4,6,8]]
sbj_test = [full10_list[0][1][i] for i in [1,3,5,7,9]]
print(sbj_train)
print(sbj_test)

['Bois-le-Roi', 'Bordeaux', 'film', 'theatre', 'stage actor', 'singer', 'voice', 'film actor', 'actor', 'France']
['Bois-le-Roi', 'film', 'stage actor', 'voice', 'actor']
['Bordeaux', 'theatre', 'singer', 'film actor', 'France']

In [22]:
%cd ../../EasyEdit/data/counterfact

/home/gyubin/Knowledge_Editing_Dataset/EasyEdit/data/counterfact

/home/gyubin/anaconda3/envs/EasyEdit/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [23]:
import json

file_path1 = 'counterfact-edit.json'
file_path2 = 'counterfact-train.json'
file_path3 = 'counterfact-val.json'

with open(file_path1, 'r') as file:
    data1 = json.load(file)
    print(len(data1))
with open(file_path2, 'r') as file:
    data2 = json.load(file)
    print(len(data2))
with open(file_path3, 'r') as file:
    data3 = json.load(file)
    print(len(data3))
full_data = data1 + data2 + data3
print(len(full_data))

10000
10000
1919
21919

In [26]:

sorted_full_data = sorted(full_data, key=lambda x: x['case_id'])

In [31]:
answer = []
for data in full10_list:
    idx = data[0]
    tup = sorted_full_data[idx]
    tup['sbj_hop_train'] = [data[1][i]for i in [0,2,4,6,8]]
    tup['sbj_hop_test'] = [data[1][i]for i in [1,3,5,7,9]]
    tup['obj_true_hop_train'] = [data[2][i]for i in [0,2,4,6,8]]
    tup['obj_true_hop_test'] = [data[2][i]for i in [1,3,5,7,9]]
    tup['obj_new_hop_train'] = [data[3][i]for i in [0,2,4,6,8]]
    tup['obj_new_hop_test'] = [data[3][i]for i in [1,3,5,7,9]]
    answer.append(tup)

In [32]:
answer[:5]

[{'case_id': 0,
  'prompt': 'The mother tongue of Danielle Darrieux is',
  'target_new': 'English',
  'subject': 'Danielle Darrieux',
  'ground_truth': 'French',
  'rephrase_prompt': 'Where Danielle Darrieux is from, people speak the language of',
  'locality_prompt': 'Michel Rocard is a native speaker of',
  'locality_ground_truth': 'French',
  'sbj_hop_train': ['Bois-le-Roi', 'film', 'stage actor', 'voice', 'actor'],
  'sbj_hop_test': ['Bordeaux', 'theatre', 'singer', 'film actor', 'France'],
  'obj_true_hop_train': ['Overseas France',
   'Mauritania',
   'Andorra',
   'Jersey',
   'Burkina Faso'],
  'obj_true_hop_test': ['Togo', 'Vanuatu', 'Ivory Coast', 'Chad', 'Gabon'],
  'obj_new_hop_train': ['British Virgin Islands',
   'United States Virgin Islands',
   ' Ascension and Tristan da Cunha',
   'British Indian Ocean Territory',
   'Sint Maarten'],
  'obj_new_hop_test': ['Turks and Caicos Islands',
   'Saint Helena',
   'Montserrat',
   'Saint-Martin',
   'Anguilla']},
 {'case_id': 3,
  'prompt': 'Autonomous University of Madrid, which is located in',
  'target_new': 'Sweden',
  'subject': 'Autonomous University of Madrid',
  'ground_truth': 'Spain',
  'rephrase_prompt': 'and Sallie Beavers Riley. Autonomous University of Madrid is located in',
  'locality_prompt': 'Biure, which is located in',
  'locality_ground_truth': 'Spain',
  'sbj_hop_train': ['YERUN',
   'European Alliance for Social Sciences and Humanities',
   'Spanish Association of University Presses',
   'Agence universitaire de la Francophonie',
   'Madrid'],
  'sbj_hop_test': ['Alliance 4 Universities',
   'Conference of Rectors of Spanish Universities',
   'Coalition for Advancing Research Assessment',
   'European University Association',
   'Spain'],
  'obj_true_hop_train': ['member states of the Organization of Ibero-American States',
   'Hispania',
   'Organisation for Joint Armament Cooperation',
   'United Nations Security Council',
   'European Southern Observatory'],
  'obj_true_hop_test': ['Organization of Ibero-American States',
   'Central American Bank for Economic Integration',
   'European Air Transport Command',
   'League of Nations',
   'European Space Agency'],
  'obj_new_hop_train': ['Kalmar Union',
   'Union between Sweden and Norway',
   'Barents Euro-Arctic Council',
   'Council of the Baltic Sea States',
   'European Free Trade Association'],
  'obj_new_hop_test': ['Swedes',
   'Partnership for Peace',
   'Nordic Council',
   'Nordic Battle Group',
   'European Payments Union']},
 {'case_id': 5,
  'prompt': 'The mother tongue of Thomas Joannes Stieltjes is',
  'target_new': 'English',
  'subject': 'Thomas Joannes Stieltjes',
  'ground_truth': 'Dutch',
  'rephrase_prompt': 'Thomas Joannes Stieltjes was born in',
  'locality_prompt': 'Arend Lijphart is a native speaker of',
  'locality_ground_truth': 'Dutch',
  'sbj_hop_train': ['Faculté des sciences de Toulouse',
   'Delft University of Technology',
   'Royal Netherlands Academy of Arts and Sciences',
   'Kingdom of the Netherlands',
   'Dutch'],
  'sbj_hop_test': ['Zwolle',
   'Toulouse',
   'Russian Academy of Sciences',
   'mathematician',
   'university teacher'],
  'obj_true_hop_train': ['Low Countries',
   'Sint Maarten',
   'theodisk',
   'Suriname',
   'Netherlands'],
  'obj_true_hop_test': ['Curaçao',
   'Caribbean Netherlands',
   'Aruba',
   'Kingdom of the Netherlands',
   'Belgium'],
  'obj_new_hop_train': ['British Virgin Islands',
   'United States Virgin Islands',
   ' Ascension and Tristan da Cunha',
   'British Indian Ocean Territory',
   'Sint Maarten'],
  'obj_new_hop_test': ['Turks and Caicos Islands',
   'Saint Helena',
   'Montserrat',
   'Saint-Martin',
   'Anguilla']},
 {'case_id': 30,
  'prompt': 'Leonardo Balada found employment in',
  'target_new': 'Paris',
  'subject': 'Leonardo Balada',
  'ground_truth': 'Pittsburgh',
  'rephrase_prompt': 'To get to work every day, Leonardo Balada has to',
  'locality_prompt': 'Pierre Bonnard used to work in',
  'locality_ground_truth': 'Pittsburgh',
  'sbj_hop_train': ['Generación del 51',
   'Carnegie Mellon University',
   'Pittsburgh',
   'librettist',
   'musicologist'],
  'sbj_hop_test': ['Sant Just Desvern',
   'sardana',
   'symphony',
   'Catalan',
   'Barcelona'],
  'obj_true_hop_train': ['Misgav Regional Council',
   'Allegheny County',
   'Ōmiya',
   'Novokuznetsk',
   ' 1st Earl of Chatham'],
  'obj_true_hop_test': ['Naucalpan de Juárez delegation',
   'San Isidro',
   'Saitama',
   'William Pitt',
   'Prešov'],
  'obj_new_hop_train': ['Parisii',
   'Grand Paris',
   'C40 Cities Climate Leadership Group',
   'League of Historical Cities',
   'Europe'],
  'obj_new_hop_test': ['arrondissement of Paris',
   'Île-de-France',
   'Kingdom of France',
   'World Tourism Cities Federation',
   'Rome']},
 {'case_id': 34,
  'prompt': 'Laurent Cars was employed in',
  'target_new': 'Philadelphia',
  'subject': 'Laurent Cars',
  'ground_truth': 'Paris',
  'rephrase_prompt': "Laurent Cars's work office is surrounded by",
  'locality_prompt': 'Henri Matisse used to work in',
  'locality_ground_truth': 'Paris',
  'sbj_hop_train': ['Académie royale de peinture et de sculpture',
   'printer',
   'Lyon',
   'painter',
   'France'],
  'sbj_hop_test': ['copper engraver', 'portrait', 'drawer', 'Paris', 'French'],
  'obj_true_hop_train': ['Parisii',
   'Grand Paris',
   'C40 Cities Climate Leadership Group',
   'League of Historical Cities',
   'Europe'],
  'obj_true_hop_test': ['arrondissement of Paris',
   'Île-de-France',
   'Kingdom of France',
   'World Tourism Cities Federation',
   'Rome'],
  'obj_new_hop_train': ['Mosul',
   'Philadelphia County',
   'Douala',
   'Kobe',
   'Salvador'],
  'obj_new_hop_test': ['Abruzzo',
   'Nizhny Novgorod',
   'Aix-en-Provence',
   'Toruń',
   'Tianjin']}]

In [33]:
import json

with open('counterfact-hop10.json', 'w', encoding='utf-8') as json_file:
    json.dump(answer, json_file, ensure_ascii=False, indent = 4)