frequency가 2 이상인 데이터 추출 순서
1. frequency가 2 이상인 단어 제외하고 다 삭제
2. hop_num 다시 계산한다. (null인 경우 0으로 처리)
3. 각 단어가 20개 이상인 데이터만 남겨두고 삭제

In [1]:
import pandas as pd
import json
import random

df = pd.read_excel("../../data/one_hop/preprocessed_df2.xlsx")
df.fillna('null',inplace=True)
dx = df.copy()

with open('../../data/one_hop/word_frequency.json', "r") as f:
    word_counts = json.load(f)

In [2]:
df.head()

,index,subject,subject_id,sbj_one_hop,sbj_hop_num,obj_true,obj_true_id,obj_one_hop,obj_true_hop_num,obj_new,obj_new_id,obj_new_one_hop,obj_new_hop_num,view
0,0,Danielle Darrieux,Q234149,"Georges Mitsinkides,France,European Film Award...",21,French,Q150,"Niger,past imperative,past anterior,language,I...",99,English,Q1860,"Eritrea,religious denomination,Fiji,Sri Lanka,...",175,222931
1,1,Edwin of Northumbria,Q348955,"English,Whitby Abbey,Hatfield Chase,Catholic s...",12,Christianity,Q5043,"worldwide,Jerusalem,Bible,Christendom,Christia...",25,Islam,Q432,"worldwide,New International Encyclopedia,human...",76,177019
2,2,Toko Yasuda,Q7813654,"keyboard instrument,bass guitar,Enon,bass guit...",13,guitar,Q6607,"plucked necked box lute,fretboard,gitarre,viol...",32,piano,Q5994,"keyboard instrument,Metropolitan Museum of Art...",11,74330
3,3,Autonomous University of Madrid,Q788091,"YERUN,UAM,European Alliance for Social Science...",9,Spain,Q29,"Turkey,Russia,African Development Bank,spaniol...",231,Sweden,Q34,"SE,Scania,African Development Bank,Turkey,Russ...",212,87615
4,4,Lyon,Q456,"Guangzhou,Gothenburg Municipality,NADD Wikidat...",47,Beirut,Q3820,"Saifi,Dar Mreisseh,Buenos Aires,Bachoura,Mazra...",51,Manila,Q1461,"Pasig River,Winnipeg,San Francisco,Queen City ...",93,2376138

In [3]:
for i in range(len(df)):
    if (df.loc[i, 'sbj_one_hop'] == 'null'):
        print(df.loc[i, 'index'],df.loc[i, 'subject'],",", df.loc[i, 'subject_id'], ",", df.loc[i, 'obj_true'],",", df.loc[i, 'obj_new'])

125 Manila Light Rail Transit System , Q4165607 , Philippines , Ukraine
288 Massenet Festival , Q2901924 , France , Albania
354 Caribbean Community Secretariat , Q7444221 , Georgetown , Frankfurt
710 Taiwan Pride , Q7676561 , Taiwan , Manchester
782 Honda CX series , Q1626555 , Honda , Airbus
974 Chu Lai Base Area , Q18639545 , Vietnam , Australia
1213 GNU/Linux naming controversy , Q1423906 , Linux , Minnesota
1236 Squad 51 , Q7581888 , Dodge , Suzuki
1281 Al Daayen , Q310786 , Qatar , Iraq
1311 Ma'an Governorate , Q606340 , Jordan , Naples
1484 Battle of the Menin Road Ridge , Q4872951 , Belgium , Atlanta
1492 community development block in India , Q2775236 , India , Romania
1499 Turkey national rugby union team , Q1634826 , Turkey , Romania
1625 Yokohama International School , Q8054631 , Japan , Netherlands
1661 Buddhist philosophy , Q1001079 , Buddhism , Christianity
1748 Kranji War Memorial , Q2945352 , Singapore , Jerusalem
1972 Clan Cumming , Q1094924 , Scotland , Shanghai
2049 Organic Articles , Q2029959 , French , German
2081 IBM Network Control Program , Q16928022 , IBM , Boeing
2122 Svarthamaren Mountain , Q3446033 , Antarctica , Europe
2226 Singapore Bus Service , Q4473722 , Singapore , Tokyo
2341 2008 Kabul Serena Hotel attack , Q1797924 , Kabul , Newport
2388 Lexus LF , Q6537927 , Toyota , Ferrari
2402 Carrera family , Q599145 , Chile , Sweden
2427 Honda CRF series , Q3786490 , Honda , Apple
2440 Norfolk Air , Q7050992 , Australia , Malta
2577 Honda Civic Type R , Q748076 , Honda , Microsoft
2633 Mini E , Q6865039 , BMW , Cadillac
2675 I Used to Be Fat , Q3982568 , MTV , NBC
2783 Elk State Park , Q5364129 , Pennsylvania , Istanbul
2881 Anvil Publishing , Q4777986 , Philippines , Manchester
3082 French immersion , Q4492491 , French , Finnish
3245 Japanese Pharmacopoeia , Q8479640 , Japan , Sweden
3292 Amazon Simple Queue Service , Q4033880 , Amazon , Google
3379 IBM Business System 12 , Q16927958 , IBM , Nintendo
3621 Markham District High School , Q6771001 , Canada , Indonesia
3697 Le Puy Foot 43 Auvergne , Q3226092 , France , Albania
3852 Struga Poetry Evenings , Q1210792 , poetry , geography
4163 A Ver-o-Mar , Q300608 , Portuguese , Finnish
4230 Atlantic Film Festival , Q125608819 , Halifax , Santiago
4526 Al-Suqaylabiyah Subdistrict , Q12247301 , Syria , India
4527 English plural , Q5378621 , English , German
4612 Java coffee , Q2642722 , Java , Amsterdam
4816 Nokia Internet tablet , Q6267970 , Nokia , Intel
4869 Kadrina Rural Municipality , Q1013773 , Estonia , Argentina
4872 Alberta Alliance Party , Q4711576 , Canada , Argentina
4967 A Marriage Proposal , Q1194195 , Russian , Hebrew
4986 Romania during World War I , Q85808346 , Romania , London
5115 IBM Rational Unified Process , Q478019 , IBM , Nintendo
5230 Constitution of Afghanistan , Q2545548 , Afghanistan , Venezuela
5300 Sony SLT camera , Q209491 , Sony , Fiat
5432 Cuban War of Independence , Q1514908 , Cuba , Hungary
5444 Vietnam Film Festival , Q7928507 , Vietnam , Moscow
5514 IBM 1710 , Q5965596 , IBM , Dodge
5770 Russians in Ukraine , Q311762 , Russian , French
6054 Trigono , Q7841791 , Greece , Colombia
6296 Zarqa Governorate , Q721445 , Jordan , Oregon
6490 Toyota G1 , Q6754560 , Toyota , Chrysler
6572 Kyrgyz Revolution of 2010 , Q236023 , Russian , Finnish
6578 SKY Perfect Well Think , Q3486431 , Tokyo , Cologne
6714 South East Forests National Park , Q1164884 , Australia , Ireland
6759 Battle of Baltimore , Q1850527 , Baltimore , Afghanistan
6923 Uniform Type Identifier , Q2257511 , Apple , IBM
7120 Coulommiers cheese , Q774297 , France , Canada
8324 Bogra Zilla School , Q4937781 , Bangladesh , Philippines
8625 canton of Bolivia , Q824650 , Bolivia , Poland
8820 Juan Carlos I Antarctic Base , Q403043 , Antarctica , Asia
8982 Tarnobrzeg Voivodeship , Q1416177 , Poland , Italy
9471 Cadillac de Ville series , Q1025175 , Cadillac , Renault
9920 Suzuki GSX-R series , Q2002725 , Suzuki , Intel
10082 I Got a Boy , Q1449685 , Korean , Hindi
10224 Life is a Dream , Q138174 , Spanish , Korean
10357 Ambatofinandrahana District , Q3030837 , Madagascar , Italy
10407 Shanghai Ghetto , Q314645 , Shanghai , Paris
10496 life imprisonment in Canada , Q6545106 , Canada , Japan
10504 N-340 road , Q3089635 , Spain , Mexico
10587 Antarctic ice sheet , Q571430 , Antarctica , Americas
10965 Tripura University , Q6454069 , India , Aden
11085 Plantation of Ulster , Q393046 , Ulster , Illinois
11270 North Side Gang , Q454940 , Chicago , Belfast
11315 When I Was 17 , Q6418780 , MTV , Lifetime
11338 traditional Korean medicine , Q710679 , Korea , Netherlands
11491 Lodhran Tehsil , Q25247384 , Pakistan , India
11630 Honda Z series , Q1626628 , Honda , Iran
12350 Tudeshk Rural District , Q15624175 , Iran , Germany
12474 pharmacy school , Q2085148 , pharmacy , biology
12535 Veysian Rural District , Q10856027 , Iran , Venezuela
13129 Dundee Whaling Expedition , Q1265564 , Antarctica , Asia
13227 IBM Type-III Library , Q5969110 , IBM , Adobe
13412 Norman conquest of England , Q200485 , England , Catalonia
13532 Operation Dingson , Q3532385 , Brittany , Cologne
13714 Khorramdarreh Rural District , Q5680720 , Iran , Finland
13807 A Latin Dictionary , Q300453 , Latin , English
13893 BMW 1 Series , Q796395 , BMW , Airbus
14368 Model M keyboard , Q1132822 , IBM , Honda
14618 1931 Nicaragua earthquake , Q4562866 , Nicaragua , Spain
15638 Vardasht Rural District , Q15631468 , Iran , Colombia
15851 death of Ali Abdulhadi Mushaima , Q5247396 , Bahrain , Poland
15863 Now Kandeh District , Q719486 , Iran , Poland
15962 Catalan alphabet , Q610822 , Catalan , Greek
16182 IBM System i , Q433406 , IBM , Microsoft
16275 Madona District , Q569307 , Latvia , Canada
16312 Venezuelan recall referendum , Q10752019 , Venezuela , Colombia
16319 Mathematical folklore , Q17080465 , mathematics , chemistry
16382 siglas poveiras , Q9299564 , Portugal , Japan
16437 BMW M Coupe , Q4836061 , BMW , Sony
16605 Sky Movies Box Office , Q3511264 , Sky , Germany
16670 QuickDraw , Q1299822 , Apple , Sony
16712 Therefore I Am , Q7782829 , Boston , Dallas
17293 Digital Audio Stationary Head , Q497444 , Sony , BBC
17601 Panna National Park , Q1858071 , India , Germany
17761 Suzuki RGV500 , Q3978405 , Suzuki , Porsche
17762 Castrovirreyna District , Q5050839 , Peru , Poland
17803 Windows Malicious Software Removal Tool , Q1259297 , Microsoft , Google
17969 Wayne State University Press , Q7976644 , Detroit , Jakarta
18009 Antarctic Plate , Q501705 , Antarctica , Africa
18229 N M Rothschild & Sons , Q1961890 , London , Edinburgh
18723 Jupiter mass , Q651336 , Jupiter , Christmas
18778 Garkan Rural District , Q15631498 , Iran , Norway
18906 Tarq Rud Rural District , Q15631485 , Iran , Brazil
18959 Mahur Berenji Rural District , Q6735002 , Iran , India
18991 Canada International Film Festival , Q16851349 , Vancouver , Manila
19283 Guatemalan Revolution , Q5614269 , Guatemala , India
19860 And So I Watch You From Afar , Q489577 , Belfast , Montreal
19874 solar mass , Q180892 , Sun , Peter
20042 Marilyn Agency , Q3847969 , Paris , Chicago
20318 IBM WebSphere MQ , Q528294 , IBM , Google
20608 Catholic Syrian Bank , Q74666911 , India , Mexico
20628 Toyota Production System , Q1553383 , Toyota , Cornwall
20727 Hickory Run State Park , Q5751301 , Pennsylvania , Maryland
20750 Uruguayan Civil War , Q2672972 , Uruguay , Glasgow
20968 IBM i , Q15637561 , IBM , Apple
21158 Hebrew Union College-Jewish Institute of Religion , Q107265838 , Judaism , Islam
21220 iDisk , Q1935610 , Apple , Intel
21300 Al Ahmadi Governorate , Q552354 , Kuwait , Canada
21404 Cyclone Tracy , Q245544 , Darwin , Leicester
21470 IBM System R , Q973966 , IBM , Adobe

In [4]:
def filtering(word, word_counts, min_count=2):
    if word == 'null':
        return 0, 'null'
    word_list = word.split(',')
    word_list = [word for word in word_list if word_counts.get(word, 0) >= min_count]
    word_list = sorted(word_list, key=lambda x: word_counts.get(x, 0), reverse=True)
    num = len(word_list)
    return num, ','.join(word_list)

def filtering2(dx, min_count, k):
    df = dx.copy()
    for i in range(len(df)):
        df.loc[i, 'sbj_hop_num'], df.loc[i, 'sbj_one_hop'] = filtering(df.loc[i, 'sbj_one_hop'], word_counts, min_count)
        df.loc[i, 'obj_true_hop_num'], df.loc[i, 'obj_one_hop'] = filtering(df.loc[i, 'obj_one_hop'], word_counts, min_count)
        df.loc[i, 'obj_new_hop_num'], df.loc[i, 'obj_new_one_hop'] = filtering(df.loc[i, 'obj_new_one_hop'], word_counts, min_count)

    well_list = []

    for i in range(len(df)):
        if (df.loc[i, 'sbj_hop_num']>=k and df.loc[i, 'obj_true_hop_num']>=k and df.loc[i, 'obj_new_hop_num']>=k):
            well_list.append(i)
    print(f'Total number of data with (freq >= {min_count}) and (length >= {k}) is {len(well_list)}({round(100 * len(well_list) / 21919, 2)}%)')

In [ ]:
df = dx.copy()
for min_count in range(1, 11):
    for k in range(0, 11):
        filtering2(df, min_count, k)

Total number of data with (freq >= 1) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 1) and (length >= 1) is 21781(99.37%)
Total number of data with (freq >= 1) and (length >= 2) is 21014(95.87%)
Total number of data with (freq >= 1) and (length >= 3) is 19435(88.67%)
Total number of data with (freq >= 1) and (length >= 4) is 18077(82.47%)
Total number of data with (freq >= 1) and (length >= 5) is 16377(74.72%)
Total number of data with (freq >= 1) and (length >= 6) is 14983(68.36%)
Total number of data with (freq >= 1) and (length >= 7) is 13861(63.24%)
Total number of data with (freq >= 1) and (length >= 8) is 12370(56.44%)
Total number of data with (freq >= 1) and (length >= 9) is 11284(51.48%)
Total number of data with (freq >= 1) and (length >= 10) is 10322(47.09%)
Total number of data with (freq >= 2) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 2) and (length >= 1) is 21591(98.5%)
Total number of data with (freq >= 2) and (length >= 2) is 20418(93.15%)
Total number of data with (freq >= 2) and (length >= 3) is 18374(83.83%)
Total number of data with (freq >= 2) and (length >= 4) is 16594(75.71%)
Total number of data with (freq >= 2) and (length >= 5) is 14724(67.17%)
Total number of data with (freq >= 2) and (length >= 6) is 13198(60.21%)
Total number of data with (freq >= 2) and (length >= 7) is 12001(54.75%)
Total number of data with (freq >= 2) and (length >= 8) is 10473(47.78%)
Total number of data with (freq >= 2) and (length >= 9) is 9398(42.88%)
Total number of data with (freq >= 2) and (length >= 10) is 8470(38.64%)
Total number of data with (freq >= 3) and (length >= 0) is 21919(100.0%)

In [ ]:
sample_list = random.sample(well_list, 1000)
sample_list.sort()
df = df.iloc[sample_list]

In [ ]:
df = df.reset_index(drop = True)
df

,index,subject,subject_id,sbj_one_hop,sbj_hop_num,obj_true,obj_true_id,obj_one_hop,obj_true_hop_num,obj_new,obj_new_id,obj_new_one_hop,obj_new_hop_num,view
0,4,Lyon,Q456,"Europe,France,Kyiv,NADD Wikidata project,Saint...",37,Beirut,Q3820,"Catholic Encyclopedia,Lebanon,largest city,Cre...",39,Manila,Q1461,"New International Encyclopedia,Philippines,Asi...",82,2376138
1,90,Rabat,Q3551,"Granat Encyclopedic Dictionary,Armenian Soviet...",20,Damascus,Q3766,"Catholic Encyclopedia,Bible Encyclopedia of Ar...",37,Istanbul,Q406,"Europe,Sytin Military Encyclopedia,Asia,Creati...",70,1201331
2,143,Delusions of Grandeur,Q705247,"Germany,Spain,Madrid,Barcelona,film,color,vide...",21,French,Q150,"Belgium,Switzerland,Algeria,Vietnam,Morocco,La...",71,English,Q1860,"Granat Encyclopedic Dictionary,Armenian Soviet...",149,28776
3,145,Falling Down,Q289598,"Los Angeles,film,color,video on demand,drama f...",33,France,Q142,"Jewish Encyclopedia of Brockhaus and Efron,Eur...",185,Philippines,Q928,"New International Encyclopedia,Laos,Sri Lanka,...",275,2256340
4,168,Cees Nooteboom,Q158394,"human,male,writer,works protected by copyright...",32,Dutch,Q7411,"New International Encyclopedia,Small Brockhaus...",53,Indonesian,Q9240,"English,Indonesia,Arabic,agglutinative languag...",28,43963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,21872,Paul Huet,Q1354027,"human,male,National Gallery of Victoria,copyri...",33,Paris,Q90,"Catholic Encyclopedia,Europe,Genadendal Music ...",60,Venice,Q641,"Granat Encyclopedic Dictionary,Italy,big city,...",78,10248
996,21893,Wilkie Collins,Q210740,"human,male,writer,United Kingdom of Great Brit...",22,London,Q84,"Granat Encyclopedic Dictionary,Catholic Encycl...",104,Chicago,Q1297,"United States of America,New International Enc...",25,397478
997,21907,Mary Wollstonecraft,Q101638,"human,New International Encyclopedia,German,Lo...",42,French,Q150,"Italy,Belgium,Switzerland,Algeria,Vietnam,Moro...",73,English,Q1860,"Granat Encyclopedic Dictionary,Armenian Soviet...",147,1873516
998,21909,Tel Aviv,Q33935,"English,Israel,Mexico City,Organization of Wor...",42,Milan,Q490,"Granat Encyclopedic Dictionary,Jewish Encyclop...",65,Tokyo,Q1490,"Asia,largest city,Japan,Berlin,megacity,global...",89,4019548
999,21917,Umayyad Caliphate,Q8575586,"New International Encyclopedia,Asia,Islam,Afri...",24,Damascus,Q3766,"Catholic Encyclopedia,city,national capital,To...",39,Athens,Q1524,"Sytin Military Encyclopedia,metropolis,Kyiv,Be...",104,4127429